body {
    padding: 0;
    margin: 0;
    background-color: #9acd32;
}

nav {
    height: 80px;
    background-color: #4ec7c7;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

button {
    height: 1.5em;
    font-size: 1.5em;
    width: 400px;
}

.fond {
    height: 80vh;
    background-color: #9acd32;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin: 3% auto;
    height: 80vh;
    width: 90vw;
    background-color: #aaaaeb;
    position: relative;
}

/* Tailles */

.small {
    height: 30px;
    width: 30px;
}

.medium {
    height: 40px;
    width: 40px;
}

.large {
    height: 70px;
    width: 70px;
}

/* Formes */
.square {
    position: absolute;
}

.circle {
	border-radius: 50%;
    position: absolute;
}

/* Couleurs */

.blue {
    background-color: #0262df;
    border: 1px solid grey;
}

.red {
    background-color: #d31717;
    border: 1px solid grey;
}

.yellow {
    background-color: #eecc0d;
    border: 1px solid grey;
}

.green {
    background-color: #1a960f;
    border: 1px solid grey;
}

.black {
    background-color: #000;
    border: 1px solid grey;
}